/* ============ INITIALS ============ */
:root {
  --main-color: #061d3a;
  --secondary-color: #feda14;
  --bg-alt-color: rgba(6, 29, 58, 0.92);
  --text-color: #ffffff;
  --light-grey: #bbc8d4;
  --ultra-light-grey: #dae3ea;
  --heading-font: 'Barlow Condensed', sans-serif;
  --body-font: 'DM Sans', sans-serif;
  --paddings-in-sections: 80px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  transition: all 0.6s ease;
}
body {
  color: var(--text-color);
  font-family: var(--body-font);
  transition: all 0.6s ease;
}

h1 {
  font-size: clamp(3rem, 8vw, 6rem);
  font-family: var(--heading-font);
  font-weight: 600;
}

h2 {
  font-size: clamp(2rem, 6vw, 4rem);
  font-family: var(--heading-font);
  font-weight: 500;
}

h3 {
  font-size: clamp(1.125rem, 4vw, 2.25rem);
  font-family: var(--body-font);
  font-weight: 300;
}

h4 {
  font-size: clamp(0.625rem, 2.5vw, 1.25rem);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ============ NavBar ============ */
.hero {
  position: relative;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Hero.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  padding: 20px 0;
  background-image: linear-gradient(to bottom, var(--main-color), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}

ul {
  list-style: none;
}

ul.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

li {
  display: block;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.link {
  color: var(--text-color);
  text-transform: capitalize;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: clamp(0.8rem, 1vw, 1rem) clamp(2.3rem, 2.5vw, 3rem);
  border-radius: 15px;
  cursor: pointer;
  font-family: var(--body-font);
  font-size: 1rem;
}

.primary-btn {
  background-color: var(--secondary-color);
  border: none;
  color: var(--main-color);
  font-weight: 700;
}

.secondary-btn {
  font-weight: 300;
  border: 2px solid var(--text-color);
}

nav .btn {
  padding: clamp(0.5rem, 0.7vw, 0.7rem) clamp(1.4rem, 2vw, 2.5rem);
  font-size: clamp(0.7rem, 1.24vw, 0.9rem);
}

/* ============ Hero Content ============ */
.hero-content {
  text-align: center;
  margin-top: 75px;
  position: relative;
}

.hero-content h1 {
  margin-bottom: 1rem;
}

.hero-content h3 {
  font-weight: 300;
  color: var(--secondary-color);
  letter-spacing: 0.02em;
  margin-bottom: 1.3rem;
}

.hero-content .subheader {
  color: var(--light-grey);
  font-weight: 600;
  font-size: clamp(0.8rem, 2vw, 1.666rem);
  margin-bottom: 2.6rem;
}

.hero-content .CTAs {
  display: flex;
  flex-direction: row;
  gap: 2.6rem;
  justify-content: center;
}

.h1-wrapper {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -30%;
  left: -28%;
  /* width: 120px; */
  /* transform: rotate(-8deg); */
}

@media screen and (max-width: 1024px) {
  .badge {
    position: absolute;
    top: -40%;
    left: -30%;
    width: 180px;
    /* width: 120px; */
    /* transform: rotate(-8deg); */
  }
}
@media screen and (max-width: 768px) {
  .badge {
    position: absolute;
    top: -40%;
    left: -32%;
    width: 150px;
    /* width: 120px; */
    /* transform: rotate(-8deg); */
  }
}

/* ============ Features Section ============ */
.features {
  padding: var(--paddings-in-sections) 0;
  background-color: var(--main-color);
}

.features .heading-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
  padding: 0 6%;
  line-height: 1.07;
}
.features .heading-content h2 {
  max-width: 360px;
  flex: 1;
  color: var(--secondary-color);
}
.features .heading-content .subheader {
  max-width: 330px;
  flex: 1;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 600;
}

.features .cards {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 2rem;
  margin: 0 auto;
}

.features .card {
  max-width: 390px;
  flex: 1;
}

.features .card img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  object-position: center center;
  aspect-ratio: 4/3;
}

.features .card h3 {
  padding: 1rem 0;
  font-weight: 500;
  letter-spacing: 0.02rem;
  font-family: var(--heading-font);
}

.features .card p {
  color: var(--ultra-light-grey);
  font-size: 1rem;
  line-height: 1.65;
}

/* ============ Gallery Section ============ */
.gallery {
  background-color: var(--bg-alt-color);
  padding: var(--paddings-in-sections) 0;
}

.gallery .container {
  max-width: max-content;
  width: auto;
}

.gallery h2 {
  text-align: center;
  margin-bottom: 90px;
}

.gallery .carousel {
  overflow: hidden;
}

.gallery .wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  text-align: center;
  gap: 2rem;
  transform: translateX(-25%);
  transition: transform 0.6s ease;
}

.gallery .wrapper img {
  min-width: calc(100% / 2.8);
  width: calc(100% / 2.8);
  max-width: 480px;
  height: 415px;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.gallery .arrows {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-right: 10%;
  justify-content: flex-end;
}

.gallery i {
  display: block;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.6 ease;
}

.gallery i:hover {
  color: var(--secondary-color);
}


/* ============ About Section ============ */

.about {
  padding: var(--paddings-in-sections) 0;
  background-color: var(--main-color);
  position: relative;
  height: 100dvh;
}

.about .container {
  height: 100%;
}

.about .icons {
  position: relative;
  width: 100%;
  height: 100%;
}

.about .flex-wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
  
}

.about img {
  position: absolute;
  width: clamp(100px, 16vw, 200px);
}

.about .icons img[alt="bein"]{
  bottom:  0;
  right: 0;
}

.about .text {
  text-align: center;
  max-width: 800px;
}

.about .text h2 {
  margin-bottom: 1.3rem;
}